apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
type: Opaque
data:
  # IMPORTANT: Replace this with the base64 encoded MongoDB Atlas connection string
  # You can get the connection string from the Terraform output:
  # terraform output -raw mongodb_atlas_connection_string | base64
  mongo_url: {{ .Values.mongodb.url | b64enc }}
